{% extends "admin2/header.html.twig" %}

{% block head %}
{{ parent() }}
{% endblock %}
{% block title %}<title>Admin</title>{% endblock %}
{% block content %}
{{ parent() }}
    <div class="container">
        <h3 class="page-header">Admin page</h3>
        <a href="/admin/user/edit" class="btn btn-primary navbar-btn dialog" data-ajax-method="get">Create</a>
        <div class="clearfix">
            <table class="table table-hover grid">
                <thead>
                <tr>
                    <th width="40px">Id</th>
                    <th width="160px">Username</th>
                    <th width="160px">First name</th>
                    <th width="160px">Last name</th>
                    <th width="160px">Email</th>
                    <th width="160px">Phone number</th>
                    <th width="72px">Roles</th>
                    <th width="72px">Enabled</th>
                    <th width="50px"></th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.firstName }}</td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.phoneNumber }}</td>
                        <td>
                            {% for role in user.roles %}
                                {{ role }}
                            {% endfor %}
                        </td>
                        <td>{{ user.enabled ? '1':'0' }}</td>
                        <td class="controls">
                            {#<a href="#" data-target="#basicModal" data-toggle="modal" class="btn btn-primary btn-xs dialog">#}
                            <a href="{{ path('editUser', {'id':user.id}) }}" class="btn btn-primary btn-xs dialog" data-ajax-method="get" data-modal-style="width:800px">
                                <i class="fa fa-pencil"></i>
                            </a>
                            <a href="{{ path('deleteUser', {'id':user.id}) }}" class="confirm btn btn-xs btn-danger ajax" data-ajax-method="delete">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}