{% extends "admin2/header.html.twig" %}

{% block head %}
    {{ parent() }}
{% endblock %}
{% block title %}<title>Dashboard</title>{% endblock %}
{% block content %}
    {{ parent() }}
    <div id="wrapper">
        <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-cubes fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div class="huge">{{ websites }}</div>
                                    <div>Websites tracking!</div>
                                </div>
                            </div>
                        </div>
                        <a href="/websites">
                            <div class="panel-footer">
                                <span class="pull-left">View all websites</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-thumbs-up fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    {#<div id = "up"></div>#}
                                    <div class="huge">{{ up }}</div>
                                    <div>Websites up!</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{ path('siteStatus', {'status': 'up'}) }}">
                            <div class="panel-footer">
                                <span class="pull-left">View websites which up</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="panel panel-red">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-hand-o-up fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    {#<div id = "down"></div>#}
                                    <div class="huge">{{ down }}</div>
                                    <div>Websites down!</div>
                                </div>
                            </div>
                        </div>
                        <a href="{{ path('siteStatus', {'status': 'down'}) }}">
                            <div class="panel-footer">
                                <span class="pull-left">View websites which down</span>
                                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                                <div class="clearfix"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#wrapper -->
{% endblock %}
