{% extends "admin2/header.html.twig" %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block title %}<title>Edit website</title>{% endblock %}
{% block content %}
    {{ parent() }}
    <div class = "container">
        <h3 class="page-header">
            Edit website
        </h3>
        <form action="/profile/website/save?_method={{ method }}" class="form-horizontal" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="id" value="{{ website.id }}"/>
            <div class="form-group">
                <label class="control-label col-lg-2" for="name">Name</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="name" name="name" value="{{ website.name }}" maxlength="255" required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="url">Url</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="url" name="url" value="{{ website.url }}" maxlength="255" required />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2" for="status">Status</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" id="status" name="status" value="{{ website.status }}"  required/>
                </div>
            </div>
            {% if website.id != NULL %}
                <div class="form-group" id = "users_typeahead">
                    <label class="control-label col-lg-2" for="owner">Owner</label>
                    <div class="col-lg-10">
                        <input type="text" disabled class="form-control" id="owner" name="owner" value="{{ website.owner }}"/>
                    </div>
                </div>
            {% else %}
                <div class="form-group" id = "users_typeahead">
                    <div class="col-lg-10">
                        <input type="hidden" class="form-control" id = "owner" name="owner" value="{{ user.id }}" maxlength="255" required/>
                    </div>
                </div>
            {% endif %}
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Save</button>
                <a href="javascript:history.back()" class="btn btn-default" data-dismiss="modal">Close</a>
            </div>
        </form>

        {#Drag&Drop#}


        <hr>
        <div class="container-fluid" ng-app="myApp">
            <div class="container" ng-controller="ctrlDualList">
                <div class="row">
                    <div class="col-md-12 text-center"><h3>Drag &amp; Drop Pick List</h3></div>
                    <div class="col-sm-4 col-sm-offset-1">
                        <div class="list-group" id="list1" x-lvl-drop-target="true" x-on-drop="drop(dragEl, dropEl, bToA)">
                            <a href="javascript:;" class="list-group-item active">Staff
                                <input title="Toggle all" ng-click="toggleA()" ng-model="toggle" value="{{toggle}}" type="checkbox" class="pull-right"></a>
                <span ng-repeat="user in listA">
                  <a href="javascript:;" data-id="{{user.id}}" x-lvl-draggable="true" class="list-group-item">{{user.firstName}}
                      <small class="text-muted"><em>{{user.role}}</em></small>
                      <input id="{{user.id}}" ng-click="selectedA.push(user.id)" name="selectedA[]" value="{{user.id}}" ng-checked="selectedA.indexOf(user.id) > -1" type="checkbox" class="pull-right">
                  </a>
                </span>
                        </div>
                    </div><!--/col-4-->
                    <div class="col-md-2 v-center text-center">
                        <div class="btn-group">
                            <button title="Send to list 1" class="btn btn-default" ng-click="bToA()" id="btnA"><i class="glyphicon glyphicon-chevron-left"></i></button>
                            <button title="Send to list 2" class="btn btn-default" ng-click="aToB()" id="btnB"><i class="glyphicon glyphicon-chevron-right"></i></button>
                        </div>
                        <h6 class="text-center">move from list-to-list</h6>
                    </div><!--/col-2-->
                    <div class="col-sm-4">
                        <div class="list-group" id="list2" x-lvl-drop-target="true" x-on-drop="drop(dragEl, dropEl, aToB)">
                            <a href="javascript:;" class="list-group-item active">Team Members
                                <input title="Toggle all" ng-click="toggleB()" ng-model="toggle" value="{{toggle}}" type="checkbox" class="pull-right">
                            </a>
                <span ng-repeat="user in listB">
                  <a href="javascript:;" data-id="{{user.id}}" class="list-group-item" x-lvl-draggable="true">{{user.firstName}}
                      <small class="text-muted"><em>{{user.role}}</em></small>
                      <input id="{{user.id}}" ng-click="selectedB.push(user.id)" name="selectedB[]" value="{{user.id}}" ng-checked="selectedB.indexOf(user.id) > -1" type="checkbox" class="pull-right">
                  </a>
                </span>
                        </div>
                    </div><!--/col-4-->
                </div><!--/row-->
            </div><!--/container-->

            <hr>
            <a href="http://www.bootply.com/mW09b0bQcE">Edit on Bootply</a>

        </div><!--/container-fluid-->

        {#Drag&Drop#}
    </div>
{% endblock %}